<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
<link rel="stylesheet" href="https://codepen.io/fancyapps/pen/rYxrEN">
<link rel="stylesheet" href="https://codepen.io/fancyapps/pen/eezERq">
<script src="https://kit.fontawesome.com/67d2ef7984.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4810e2202a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css')}}">
</head>
<body>
    <header id="up">
      <div class="container">
        <nav>
         <div id="logo">Astana<span id="logo-s">тravel</span></div>
          <ul class="ullg">
           <li><a href="/">главное</a></li>
                <li><a href="/tour">О нас</a></li>
                 <li><a href="#">Тур пакеты</a></li>
          </ul>
        </nav>
      </div>
    </header>
      <div class="content">
      <div class="header">
          <h3>Қош келдініз</h3>
          <div class="main">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="" value="" placeholder="логинді енгізініз">
          </div><br>
          <div class="main">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="" value="" placeholder="парольді енгізініз">
          </div>
          <button type="button" name="button">кіру</button>

      </div><br>
          <a class="href">немесе жаңа парақшаны құрайық</a>
    </div>
</body>
</html>